<mat-card>
  <h3>Active Farms</h3>
  <mat-nav-list>
    <mat-list-item (click)="openDetailsDialog(farm)" *ngFor="let farm of activeFarms">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="list-item-container">
        <span>
          <button mat-icon-button aria-label="testing123" color="warn" (click)=toggleActive(farm)>
            <mat-icon aria-label="Move to Inactive">remove</mat-icon>
          </button>
          {{farm.name}}
        </span>
        <span>{{farm.weight}}%</span>
      </div>
    </mat-list-item>
  </mat-nav-list>
  <div fxLayout="row" fxLayoutAlign="space-between center" class="button-row">
    <button mat-raised-button color="primary" class="add-button" (click)=addNewFarm()>
      <mat-icon>add</mat-icon> New Farm
    </button>
    <span [class.warn]="weightOfActiveFarms() != 100">budget allocation: {{weightOfActiveFarms()}}%</span>
  </div>
</mat-card>

<mat-card *ngIf="inactiveFarms.length > 0">
  <h3>Inctive Farms</h3>
  <mat-nav-list>
    <mat-list-item (click)="openDetailsDialog(farm)" *ngFor="let farm of inactiveFarms">
      <div fxLayout="row" fxLayoutAlign="space-between center" class="list-item-container">
        <span>
          <button mat-icon-button color="accent" (click)="toggleActive(farm)">
            <mat-icon>add</mat-icon>
          </button>
          {{farm.name}}
        </span>
        <button mat-icon-button color="warn" class="delete-button" (click)="delete(farm)">
          <mat-icon>delete_forever</mat-icon>
        </button>
      </div>
    </mat-list-item>
  </mat-nav-list>
</mat-card>